.svn
.scc
/build
/Source/cache_font
/AttribEditor/TreeListCtrl/output
**/.Debug
**/.Final
**/.Release
**/.ReleaseExternal
!/XLibs.Net/**/.Debug
!/XLibs.Net/**/.Final
!/XLibs.Net/**/.Release
!/XLibs.Net/**/.ReleaseExternal
**/Debug
**/Debug DLL
**/Final
**/Release
**/Release DLL
**/Release MAX 7
!/XLibs.Net/**/Debug
!/XLibs.Net/**/Final
!/XLibs.Net/**/Release
/.vscode
*.user
*.ncb
*.pdb
!/XLibs.Net/**/*.pdb
*.ilk
*.aps
*.map
*.suo
*.bak
*.exp
/*.exe
ConfigurationTool.lib
TriggerEditor.dll
UIEditor-Debug.lib
VistaEngine.lib
VistaEngineDbg.lib
/WinVG/*.exe
BuildLog.htm
/SurMap5/ProfUIS/*
!/SurMap5/ProfUIS/readme.txt